<section>
    <!-- =============== Aside ================ -->
    <div class="hidden w-[270px] fixed left-0 top-0 h-[100%] lg:flex justify-center items-center z-10 bg-[#222222] p-[30px] border-r border-r-gray-700">
      <div>
        <a href="#" class="text-white font-bold text-5xl tracking-wide relative py-4 px-5"><span class="font-clicker font-thin text-4xl">A.<span class="font-TimesNewRoman">I</span><span class="font-clicker">sla</span><span class="font-TimesNewRoman">m</span></span></a>
      <div>
          <ul class="mt-[50px] text-white font-bold p-[30px] text-center">
            <li class="mb-5">
              <a href="#home">Home</a>
            </li>
            <li class="mb-5">
              <a href="#about">About</a>
            </li>
            <li class="mb-5">
              <a href="#info">Info</a>
            </li>
            <li class="mb-5">
              <a href="#portfolio">Portfolio</a>
            </li>
            <li class="mb-5">
              <a href="#contact">Contact</a>
           </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- =============== ./Aside ================ -->

    <!-- ================ Home section =============== -->
     <div class="lg:pl-[270px]" id="home">
      <div class="bg-[#151515] py-0 px-[30px]">
        <div class="sec-pt sec-pb">
          <div class="relative flex flex-col lg:flex-row flex-nowrap ml-[-15px] mr-[-15px]">
            <div class="lg:flex-grow-0 lg:flex-shrink-0 lg:w-[60%] pl-[15px] pr-[15px]">
              <h3 class="text-[28px] text-white font-bold lg:max-w-[40%]">Hello! I'm <span class="text-green font-semibold text-4xl"> Aminul Islam</span></h3>
              <h3 class="text-[30px] mt-4 mb-4 text-white font-bold">I'm a <span #typingElement class="text-green font-bold">Web designer</span></h3>
              <p class="text-white mb-8 text-[20px]">Eager learner and enthusiast in the ever-evolving world of web technologies, committed to delivering high-quality
              solutions.</p>
              <div class="lg:flex gap-5">
                <div class="flex gap-5 mb-4 lg:mb-0">
                    <a href="https://www.facebook.com/aminulislam2002?mibextid=ZbWKwL" target="_blank">
                      <img src="../assets/img/facebook-svgrepo-com.svg" class="h-9" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/aminul-islam-aa55b8292/" target="_blank">
                      <img src="../assets/img/linkedin-svgrepo-com.svg" class="h-9" alt="">
                    </a>
                    <a href="https://wa.me/qr/KRF66QMKXYJ5J1" target="_blank">
                      <img src="../assets/img/whatsapp-svgrepo-com.svg" class="h-9" alt="">
                    </a>
                    <a href="https://github.com/aminul-cse" target="_blank">
                      <img src="../assets/img/github-svgrepo-com.svg" class="h-10" alt="">
                    </a>
                </div>
                <div>
                  <a href="https://drive.google.com/file/d/1Z5WHLvwUWT6GtHRsj-rJGJl8ph6UJNCY/view?usp=sharing" target="_blank">
                      <button class="relative flex gap-3 items-center justify-between px-4 py-[6px] border-2 border-green text-white rounded-3xl font-bold overflow-hidden group">
                        <p class="relative z-10">Download CV</p>
                        <img src="../assets/img/download-svgrepo-com.svg" alt="" class="h-7 relative z-10">
                        <span class="absolute inset-0 bg-green transform -translate-x-full transition-transform duration-700 ease-in-out group-hover:translate-x-0"></span>
                      </button>
                    </a>
                </div>
              </div>
                <div class="flex gap-4 mt-7 mb-14 lg:mb-0">
                    <a href="https://www.linkedin.com/in/aminul-islam-aa55b8292/" target="_blank">
                      <button class="btn-primary">Hire Me</button>
                    </a>
                </div>
            </div>
            <div class="lg:flex-shrink-0 lg:flex-grow-0 lg:w-[40%] relative pl-[15px] pr-[15px] text-center pt-14">
              <div class="before:content-[''] absolute h-[80px] w-[80px] border-t-[10px] border-l-[10px] border-green left-[-10px] top-[-40px] lg:top-[-50px] mt-10"></div>
              <img class="relative w-full md:w-72 md:h-72 lg:w-[250px] lg:h-[250px] m-auto border-black rounded-md" src="../assets/img/IMG20231215122203-01.jpeg" alt="">
              <div class="after:content-[''] absolute h-[80px] w-[80px] border-b-[10px] border-r-[10px] border-green right-[-10px] bottom-[-55px] lg:bottom-9"></div>
            </div>
          </div>
        </div>
        <!-- ================ ABOUT ME =============== -->
        <div class="sec-pt sec-pb" id="about">
            <div class="flex flex-wrap relative mb-14">
              <div class="text-white font-bold text-4xl mb-2">About Me</div>
              <div class="mt-2 h-1 w-[50px] bg-green absolute top-[100%] left-0"></div>
              <div class="h-1 w-[25px] bg-green top-[100%] absolute left-0"></div>
            </div>
            <!-- Description -->
            <div class="flex flex-wrap relative mb-14">
              <div class="text-white font-bold text-2xl mb-4">I'm Aminul islam and <span class="text-green">Web Desinger</span></div>
              <div class="text-white leading-6">{{aboutMeText}}</div>
            </div>
            <!-- Info & Skills -->
            <div class="text-center text-white font-medium text-xl mb-8">My skills</div>
            <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-8">
              <div>
                <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">JAVASCRIPT</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[66%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">66%</div>
                    </div>
                  </div>
                  <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">C</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[69%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">69%</div>
                    </div>
                  </div>
                  <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">C++</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[40%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">40%</div>
                    </div>
                  </div>
              </div>
              <div>
                <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">HTML</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[90%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">90%</div>
                    </div>
                  </div>
                  <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">CSS</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[89%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">89%</div>
                    </div>
                  </div>
                  <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">SCSS</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[68%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">68%</div>
                    </div>
                  </div>
              </div>
              <div>
                <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">ANGULAR</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[46%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">46%</div>
                    </div>
                  </div>
                <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">TAILWIND CSS</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[88%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">88%</div>
                    </div>
                  </div>
                  <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px]">
                    <h5 class="text-white leading-10 font-semibold text-[16px]">VERSION CONTROL (GIT)</h5>
                    <div class="relative bg-[#393939] h-[7px] border-none rounded">
                      <div class="absolute left-0 top-0 h-[100%] border-none rounded bg-green w-[55%]"></div>
                      <div class="absolute right-0 text-white font-normal top-[-35px]">55%</div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="flex items-center justify-center gap-8">
                  <div class="text-white mt-[40px] lg:flex md:flex gap-6">
                    <a href="https://drive.google.com/file/d/1Z5WHLvwUWT6GtHRsj-rJGJl8ph6UJNCY/view?usp=sharing" target="_blank">
                      <button class="btn-primary mb-5 md:mb-0 lg:mb-0">Download Cv</button>
                    </a>
                    <a href="https://www.linkedin.com/in/aminul-islam-aa55b8292/" target="_blank">
                      <button class="btn-primary">Hire Me</button>
                    </a>
              </div>
            </div>
        </div>
        <!-- ================ ./ABOUT ME =============== -->

        <!-- ================ Education & Experience =============== -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 pb-[70px]" id="info">
          <div>
            <h3 class="pb-[30px] font-bold text-2xl text-white">Education</h3>
            <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%]">
              <div class="relative bg-[#222222] pt-[30px] pb-[30px] pl-[15px] pr-[15px] border border-[#393939] rounded-[10px] w-[100%]">
                <div class="relative pl-[37px] pb-[50px]">
                  <div class="absolute h-[100%] left-[7px] top-0 bg-green content-empty w-[1px]">
                    <div class="absolute left-[-7px] top-0 h-[15px] w-[15px] border rounded-[50%] bg-green"></div>
                  </div>
                  <h3 class="mb-[12px] text-white">2022 - Present</h3>
                  <h4 class="font-bold mb-[15px] text-[18px] capitalize text-white">B.SC. IN COMPUTER SCIENCE & ENGINEERING</h4>
                  <p class="text-[16px] leading-6 text-white">Northern University Bangladesh, Dhaka</p>
                </div>
                <div class="relative pl-[37px] pb-[50px]">
                  <div class="absolute h-[100%] left-[7px] top-0 bg-green content-empty w-[1px]">
                    <div class="absolute left-[-7px] top-0 h-[15px] w-[15px] border rounded-[50%] bg-green"></div>
                  </div>
                  <h3 class="mb-[12px] text-white">2019 - 2021</h3>
                  <h4 class="font-bold mb-[15px] text-[18px] capitalize text-white">HIGHER SECONDARY CERTIFICATE</h4>
                  <p class="text-[16px] leading-6 text-white">National Ideal College, Dhaka</p>
                </div>
                <div class="relative pl-[37px]">
                  <div class="absolute h-[100%] left-[7px] top-0 bg-green content-empty w-[1px]">
                    <div class="absolute left-[-7px] top-0 h-[15px] w-[15px] border rounded-[50%] bg-green"></div>
                  </div>
                  <h3 class="mb-[12px] text-white">2019</h3>
                  <h4 class="font-bold mb-[15px] text-[18px] capitalize text-white">SECONDARY SCHOOL CERTIFICATE</h4>
                  <p class="text-[16px] text-white">Pirojpur Govt High School, Pirojpur</p>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-[30px]">
            <div class="pb-[30px] font-bold text-2xl text-white">Experience</div>
            <div class="flex-grow-0 flex-shrink-0 basis-[100%] w-[100%]">
              <div class="relative bg-[#222222] pt-[30px] pb-[30px] pl-[15px] pr-[15px] border border-[#393939] rounded-[10px] w-[100%]">
                <div class="relative pl-[37px]">
                  <div class="absolute h-[100%] left-[7px] top-0 bg-green content-empty w-[1px]">
                    <div class="absolute left-[-7px] top-0 h-[15px] w-[15px] border rounded-[50%] bg-green"></div>
                  </div>
                  <h3 class="mb-[12px] text-white">2023 October - 2024 February</h3>
                  <h4 class="font-bold mb-[15px] text-[18px] capitalize text-white">WEB DEVELOPMENT INTERN</h4>
                  <p class="text-[16px] text-white">PulseTech Ltd.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ================ ./Education & Experience =============== -->

        <!-- ================ Portfolio =============== -->
         <div class="sec-pt sec-pb" id="portfolio">
            <div class="flex flex-wrap relative mb-14">
              <div class="text-white font-bold text-4xl mb-2">Portfolio</div>
              <div class="mt-2 h-1 w-[50px] bg-green absolute top-[100%] left-0"></div>
              <div class="h-1 w-[25px] bg-green top-[100%] absolute left-0"></div>
            </div>
            <h1 class="mb-10 font-medium text-xl text-white">My Last Project : </h1>
            <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-10">
              <div class="relative group overflow-hidden rounded-2xl">
                <img src="../assets/img/2024-06-26 02 28 14.png" alt="" class="w-full h-full object-cover transition duration-700 ease-in-out transform group-hover:scale-95 rounded-2xl">
                 <div class="absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full group-hover:translate-y-0">
                    <a href="">
                      <p class="text-white font-bold mb-4 text-lg">Visit Website</p>
                      <div class="flex items-center justify-center">
                        <img src="../assets/img/link-alt-1-svgrepo-com.svg" class="h-10" alt="">
                      </div>
                    </a>
                </div>
              </div>
              <div class="relative group overflow-hidden rounded-2xl">
                <img src="../assets/img/2024-06-26 02 28 14.png" alt="" class="w-full h-full object-cover transition duration-700 ease-in-out transform group-hover:scale-95 rounded-2xl">
                 <div class="absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full group-hover:translate-y-0">
                    <a href="">
                      <p class="text-white font-bold mb-4 text-lg">Visit Website</p>
                      <div class="flex items-center justify-center">
                        <img src="../assets/img/link-alt-1-svgrepo-com.svg" class="h-10" alt="">
                      </div>
                    </a>
                </div>
              </div>
              <div class="relative group overflow-hidden rounded-2xl">
                <img src="../assets/img/2024-06-26 02 28 14.png" alt="" class="w-full h-full object-cover transition duration-700 ease-in-out transform group-hover:scale-95 rounded-2xl">
                 <div class="absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full group-hover:translate-y-0">
                    <a href="">
                      <p class="text-white font-bold mb-4 text-lg">Visit Website</p>
                      <div class="flex items-center justify-center">
                        <img src="../assets/img/link-alt-1-svgrepo-com.svg" class="h-10" alt="">
                      </div>
                    </a>
                </div>
              </div>
              <div class="relative group overflow-hidden rounded-2xl">
                <img src="../assets/img/2024-06-26 02 28 14.png" alt="" class="w-full h-full object-cover transition duration-700 ease-in-out transform group-hover:scale-95 rounded-2xl">
                 <div class="absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full group-hover:translate-y-0">
                    <a href="">
                      <p class="text-white font-bold mb-4 text-lg">Visit Website</p>
                      <div class="flex items-center justify-center">
                        <img src="../assets/img/link-alt-1-svgrepo-com.svg" class="h-10" alt="">
                      </div>
                    </a>
                </div>
              </div>
              <div class="relative group overflow-hidden rounded-2xl">
                <img src="../assets/img/2024-06-26 02 28 14.png" alt="" class="w-full h-full object-cover transition duration-700 ease-in-out transform group-hover:scale-95 rounded-2xl">
                 <div class="absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full group-hover:translate-y-0">
                    <a href="">
                      <p class="text-white font-bold mb-4 text-lg">Visit Website</p>
                      <div class="flex items-center justify-center">
                        <img src="../assets/img/link-alt-1-svgrepo-com.svg" class="h-10" alt="">
                      </div>
                    </a>
                </div>
              </div>
              <div class="relative group overflow-hidden rounded-2xl">
                <img src="../assets/img/2024-06-26 02 28 14.png" alt="" class="w-full h-full object-cover transition duration-700 ease-in-out transform group-hover:scale-95 rounded-2xl">
                 <div class="absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full group-hover:translate-y-0">
                    <a href="">
                      <p class="text-white font-bold mb-4 text-lg">Visit Website</p>
                      <div class="flex items-center justify-center">
                        <img src="../assets/img/link-alt-1-svgrepo-com.svg" class="h-10" alt="">
                      </div>
                    </a>
                </div>
              </div>
            </div>
         </div>
        <!-- ================ ./Portfolio =============== -->

        <!-- ================ Contact Me =============== -->
        <div class="sec-pt sec-pb" id="contact">
          <div class="flex flex-wrap relative mb-14">
            <div class="text-white font-bold text-4xl mb-2">Contact Me</div>
            <div class="mt-2 h-1 w-[50px] bg-green absolute top-[100%] left-0"></div>
            <div class="h-1 w-[25px] bg-green top-[100%] absolute left-0"></div>
          </div>
          <h3 class="text-2xl text-green text-center font-bold mb-5">Have You Any Question ?</h3>
          <h4 class="text-[#ffffff] text-center mb-[60px] text-base font-bold">I'M AT YOUR SERVICES</h4>
          <div class="flex items-center justify-center mb-10">
            <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 w-5/6">
              <div>
                <a href="tel:+8801826051709" class="text-center text-[#ffffff] mb-5">
                  <div>
                    <div class="flex items-center justify-center mb-4">
                      <img src="../assets/img/call-189-svgrepo-com.svg" class="h-10" alt="">
                    </div>
                    <h1 class="mb-2 font-bold">Call Me On</h1>
                    <h1 class="mb-12 lg:mb-0">+88 01826051709</h1>
                  </div>
                </a>
              </div>
              <a href="#" class="text-center text-[#ffffff] mb-5">
                <div>
                  <div class="flex items-center justify-center mb-4">
                    <img src="../assets/img/location-filled-svgrepo-com.svg" class="h-10" alt="">
                  </div>
                  <h1 class="mb-2 font-bold">Location</h1>
                  <h1 class="mb-12 lg:mb-0">Dhaka, Bangladesh</h1>
                </div>
              </a>
              <a href="mailto:aminulcse2023@gmail.com" class="text-center text-[#ffffff] mb-5">
                <div>
                  <div class="flex items-center justify-center mb-4">
                    <img src="../assets/img/mail-filled-svgrepo-com.svg" class="h-10" alt="">
                  </div>
                  <h1 class="mb-2 font-bold">Email</h1>
                  <h1>aminulcse2023&#64;gmail.com</h1>
                </div>
              </a>
            </div>
          </div>
          <div>
            <h3 class="text-2xl text-green text-center font-bold mb-5">Let's Chat</h3>
            <h4 class="text-[#ffffff] text-center mb-[60px] text-base font-bold">I'M VERY RESPONSIVE TO MESSAGES</h4>
            <div class="flex items-center justify-center">
              <div class="grid grid-cols-4 w-4/5 lg:w-2/6">
                  <div class="flex items-center justify-center">
                    <a href="https://www.facebook.com/aminulislam2002?mibextid=ZbWKwL" target="_blank">
                        <img src="../assets/img/facebook-svgrepo-com.svg" class="h-8" alt="">
                    </a>
                  </div>
                  <div class="flex items-center justify-center">
                    <a href="https://www.linkedin.com/in/aminul-islam-aa55b8292/" target="_blank">
                        <img src="../assets/img/linkedin-svgrepo-com.svg" class="h-8" alt="">
                    </a>
                  </div>
                  <div class="flex items-center justify-center">
                    <a href="https://github.com/aminul-cse" target="_blank">
                      <img src="../assets/img/github-svgrepo-com.svg" class="h-10" alt="">
                    </a>
                  </div>
                  <div class="flex items-center justify-center">
                    <a href="https://wa.me/qr/KRF66QMKXYJ5J1" target="_blank">
                        <img src="../assets/img/whatsapp-svgrepo-com.svg" class="h-8" alt="">
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ================ ./Contact Me =============== -->
      </div>
    </div>
    <!-- ================ ./Home section =============== -->

</section>