<!-- send me a email -->
<div class="mb-10">
  <p class="mb-5 text-green font-bold text-2xl text-center">Send Me An Email</p>
  <p class="text-[#ffffff] text-center mb-[60px] text-base uppercase font-bold">Reach Out for Collaborations and Inquiries</p>
  
  <!-- Form with the ID 'contact-form' -->
  <form id="contact-form" #contactForm="ngForm" class="max-w-lg mx-auto p-6 rounded-lg">
    <!-- Name and Email Section -->
    <div class="flex flex-col md:flex-row md:-mx-2 mb-4">
      <!-- Name Input -->
      <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
        <label for="name" class="block text-base text-white mb-4">Name</label>
        <input
          type="text"
          id="name"
          name="name"  
          placeholder="Your Name"
          class="block w-full px-4 py-2 text-white bg-[#222222] rounded-md focus:outline-none focus:bg-[#151515] focus:ring-2 focus:ring-green focus:transition-all duration-500 focus:duration-300"
          required 
          ngModel
        />
      </div>
      
      <!-- Email Input -->
      <div class="w-full md:w-1/2 px-2">
        <label for="email" class="block text-base text-white mb-4">Email</label>
        <input
          type="email"
          id="email"
          name="email" 
          placeholder="Your Email"
          class="block w-full px-4 py-2 text-white bg-[#222222] rounded-md focus:outline-none focus:bg-[#151515] focus:ring-2 focus:ring-green focus:transition-all duration-500 focus:duration-300"
          required 
          ngModel
        />
      </div>
    </div>

    <!-- Subject Section -->
    <div class="mb-4">
      <label for="subject" class="block text-base text-white mb-4">Subject</label>
      <input
        type="text"
        id="subject"
        name="subject"  
        placeholder="Subject"
        class="block w-full px-4 py-2 text-white bg-[#222222] rounded-md focus:outline-none focus:bg-[#151515] focus:ring-2 focus:ring-green focus:transition-all duration-500 focus:duration-300"
        required 
        ngModel
      />
    </div>

    <!-- Message Section -->
    <div class="mb-4">
      <label for="message" class="block text-base text-white mb-4">Message</label>
      <textarea
        id="message"
        name="message" 
        rows="5"
        placeholder="Your Message"
        class="block w-full px-4 py-2 text-white bg-[#222222] rounded-md focus:outline-none focus:bg-[#151515] focus:ring-2 focus:ring-green focus:transition-all duration-500 focus:duration-300"
        required
        ngModel
      ></textarea>
    </div>

    <!-- Send Message Button -->
    <div>
      <button
        type="button"
        (click)="sendEmail(contactForm)"
        [disabled]="!contactForm.valid"
        class="w-full bg-[#222222] hover:bg-green text-green hover:text-white font-semibold py-2 mt-4 px-4 shadow-xl rounded-md transition duration-500"
      >
        Send Message
      </button>
    </div>
  </form>
</div>
<!--./ send me a email -->
