/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply transition duration-300 transform text-white border-none rounded-3xl bg-green pr-[35px] pl-[35px] pt-3 pb-3;

    &:hover {
        @apply translate-y-1 scale-95;
    }
}
.sec-pt {
    @apply pt-[60px];
}
.sec-pb {
    @apply pb-[70px];
}
.content-empty::before {
    content: '';
}
.clicker {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
}