/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply transition duration-300 transform text-white border-none rounded-3xl bg-green pr-[28px] lg:pr-[35px] pl-[28px] lg:pl-[35px] pt-3 pb-3;

    &:hover {
        @apply translate-y-1 scale-95;
    }
}
.sec-pt {
    @apply pt-[30px] lg:pt-14;
}
.sec-pb {
    @apply pb-[70px];
}
.content-empty::before {
    content: '';
}
.clicker {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.skill {
    @apply flex-grow-0 flex-shrink-0 basis-[100%] w-[100%] mb-[25px];
    .skill-text {
        @apply text-white leading-10 font-semibold text-[16px];
    }
    .percent-pos {
        @apply relative bg-[#393939] h-[7px] border-none rounded;
        .percentage {
            @apply absolute left-0 top-0 h-[100%] border-none rounded bg-green;
        }
        .percent-num {
            @apply absolute right-0 text-white font-normal top-[-35px];
        }
    }
}

// project section

.project-card {
    @apply relative w-full h-[160px] lg:h-[252px] overflow-hidden rounded-2xl;
    .img-wrapper {
        @apply h-full w-full rounded-2xl;
        .img {
            @apply h-full w-full object-cover transition duration-700 ease-in-out transform rounded-2xl;
        }
    }
    .content {
        @apply absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 flex items-center justify-center transition-all duration-700 ease-in-out transform translate-y-full;
        .title {
            @apply text-white font-bold mb-4 text-lg;
        }
        .icon-wrapper {
            @apply flex items-center justify-center;
            .icon {
                @apply h-10 w-10;
            }
        }
    }
    
}